@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url('bootstrap.min.css');
@import url('bootstrap-reset.css');
@import url('jquery-ui-1.10.3.css');
@import url('../fonts/css/font-awesome.min.css');

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

.error-wrapper {
    margin-top: 15%;
}

body {
    background: #424f63;
    font-family: 'Open Sans', sans-serif;
    color: #7a7676;
    line-height: 20px;
    overflow-x: hidden;
    font-size: 14px;
}