<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hpe</display-name>
  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>cn.hpe.servlet.QuestionServlet</servlet-class>
  </servlet> 
  
   <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.hpe.servlet.LoginServlet</servlet-class>
   </servlet>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>cn.hpe.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>cn.hpe.servlet.ScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SuccServlet</servlet-name>
    <servlet-class>cn.hpe.servlet.SuccServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/ScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuccServlet</servlet-name>
    <url-pattern>/SuccServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <error-page>
  		<error-code>404</error-code>
  		<location>/404.jsp</location>
  </error-page>
  
  <error-page>
  		<error-code>500</error-code>
  		<location>/500.jsp</location>
  </error-page>
</web-app>